body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}
h1 {
    font-weight: 500;
}
li {
    list-style: none;

}
button, a {
    cursor: pointer;
}

button {
    text-decoration: none;
    background: none;
    border: none;
}
.containerWrapper {
    width: 90%;
    margin: 0 auto;
}
h2 {
    margin-top: 0;
}

p {
    margin: 0;
}

.devIcon {
   color: rgb(90, 90, 90);
    font-size: 5rem;
    display: flex;
    justify-content: center;
}

.xs {
    font-size: 4.5rem;
}
.block {
    display: block;
}

img {
    width: 100%;
    height: 100%;
}
