footer {
    height: 100%;
    padding: 4rem 0;
    h5 {
        font-size: 2rem;
    }
}
.footerWrapper {
    display: flex;
   gap: 3rem;
}

.formDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    p {
        text-align: right;
    }
    i {
        font-size: 3rem;
        margin: 3rem 0 0 3rem;
    }
}
.contactformContainer {
    display: flex;
    flex-direction: column;
    button {
        margin-top: 1rem;
        background-color: $secondaryColor;
        border-radius: .4rem;
        font-size: 1.5rem;
        padding: 1rem 0;
        color: white;
        border: 2px solid $mainColor;
            &:hover,
            &:focus {
                background-color:rgb(120, 112, 112); 
            }
        }
    }

.contactform {
    display: flex;
    flex-direction: column;
}
input,
textarea {
    border: 2px solid $secondaryColor;
    margin-bottom: .6rem;
    width: 100%;
    padding-left: .7rem;
}

input {
    height: 3rem;
}
textarea {
    padding-top: .7rem;
}

