@import"./variables";
header {
    background-color: $paleYellow;
    height: 5rem;
    position: fixed;
    width: 100%;
    transition: 0.6s;
}
.sticky {
    background-color: white;
    a, h2 {
        color: pink
    }
    
}

.heroSection {
    background: $paleYellow;
    height: 100vh;
}
nav {
    margin: 0;
}
.navHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    ul {
        padding-left: 0;
    }
    li {
        padding: 1rem;
    }
}
.navLink {
    position: relative;
    width: 100%;
    font-size: 1.4rem;
    color: rgb(75, 70, 70)
}
.navLink::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 102%;
    height: 3px;
    background-color: pink;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in;
}

.navLink:hover::after {
    transform: scaleX(1);
}

.scrollActive {
    border-bottom: 2px solid pink;
    display: inline-block;

}

.navBar {
    display: flex;
    justify-content: space-between;
}
.navLink {
    position: relative;
    width: 100%;
}

.headerWrapper {
//    display: grid;
//    grid-template-columns: repeat(2, 2fr);
//    place-items: center;
    height:100%;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.headerContainer{
    .judyLee{
        background-color: pink;
        padding: .4rem 1.2rem;
        border-radius: .3rem;
    }
}
.typed {
    margin-bottom: 3rem;
}
.text {
    font-size: 1.5rem;
}
.viewWorksBtn {
    font-size: 1.3rem;
    padding:1rem 1.2rem;
    border: none;
    border-radius: .2rem;
    background-color: pink;
    margin-top: 2rem;
    &:hover,
    &:focus, 
    {
    
    }
}
.logo {
    color:rgb(75, 70, 70);
    font-weight: 400;
}
