@import "./variables";

@media (max-width: 1000px) {
    .portfolioSection {
        .projectContainer {
            border-radius: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1;
            gap: 1rem;
        }
        img {
            width: 100%;
        }
        ul {
            margin: 1.3rem 0;
        }
        .projectInfo {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between
        }
    }
    .projectContainer:nth-child(2) {
        flex-direction: column-reverse;
    }
}
@media (max-width: 1150px) {
.headerContainer {}
.typed {
    font-size: 5rem;
    margin-bottom: 2rem;
}
}

@media (max-width: 900px){
    .aboutMeWrapper {
        display: flex;
        flex-direction: column;
        .aboutMeText {
            width: 100%;
            }
    }
    .headshot {
    margin-top: 2rem;
    border-radius: 10%;
    }
    .moon {
    width: 24rem;
    height: 24rem;
    top: -10rem;
    left: 10rem;
    }
}

@media (max-width: 770px) {
    .typed {
        font-size: 4rem;
    }
    .navLink {
        font-size: 1.4rem;
    }
    .headerWrapper {
        flex-direction: column-reverse;
    }
    .headerContainer {
        width: 80%;
    }
    .moon {
    width: 18rem;
    height: 18rem;
    top: -9rem;
    left: 17rem;
    }
    .techStackContainer {
      display: flex;
      flex-direction: column;
      gap: 1em;
       .techStackList {
        gap: 3rem;
            }
        }
}

@media (max-width: 700px) {
.headerWrapper {
        flex-direction: column-reverse;
    }
    .headerContainer {
        width: 80%;
    }
    .moon {
        left: -20rem;
        top: 0;
        width: 23rem;
        height: 23rem;
    }
    .typed {
        font-size: 3.5rem;
    }
    .devIcon {
        font-size: 4rem;
    }
}


@media (max-width: 570px) {
    .sticky {
        background-color: inherit;
    }
    .navHeader {
        display: none;
    }
  
    .hamburger {
        display: block;
    }
    .techStackContainer {
    h2 {
        font-size: 2.5rem;
    }
    .techStackList {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 3rem;
    }
}
}
