@import"./variables";

.aboutMeSection {
    padding: 5rem 0;   
    background-color: pink;
    height: 100%;
    position: relative;
    ::after {
        content: "";
        position: absolute;
        // background: url(../../../assets/asset1a.jpg);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0.25;
        
    }
}
.aboutMeWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
      justify-content: center;
  }
  h3 {
    text-align: center;
    justify-content: center;
    font-size: 2.4rem;
  }
  p {
       text-align: center;
  }

.techStackContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
        color: white;
        font-weight: 400;
        font-size: 2.2rem;
        text-align: right;
    }
    .stack {
        display: block;
    }
    .techStackList {
        display: flex;
        gap: 1.4rem
    }
}
.portfolioSection {
    background-color: $paleYellow;
    padding: 2rem 0;
    height: 100vh;
    .projectContainer {
        display: flex;
        padding: 1rem 0;
        gap: 3rem;
    }
}

.portfolioContainer {
    padding: 1rem 0;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h2 {
        margin-bottom: 0;
        ;
    }
}
.project {
    position: relative;
    width: 100%;
    .projectImage {
        display: block;
        width: 100%;
        border-radius: .4rem;
    }
    .imageOverlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.25s;
    }

    .imageOverlay:hover>* {
        transform: translateY(0);
    }

    .imageOverlay>* {
        transform: translateY(-20px);
        transition: 0.25s;
    }

    .imageOverlay:hover {
        opacity: 1
    }
}

.modalBG {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
   
}
.modalActive {
    visibility: visible;
    opacity: 1;
}

.modalButtons {
    display: flex;
    justify-content: center;
    justify-content: cenfleter;
    text-align: center;
    h4 {
        font-size: 2rem;
        padding: 0;
        margin: 1rem 0;
        font-weight: 500;
    }
}

.modal {
    background-color: white;
    height: 90%;
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5em;
        color: grey;
        &:hover{
            color: black;
        }
    }
}

.modalContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
    gap: 1.5rem;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    position: relative;
    img {
        object-fit: contain;
       height: 100%;
    }
    .modalImg{
        height: 100%;
    }
}
.modalDescription {
    max-height: 100%;
    h5 {
        margin: 0;
        font-size: 1.5em;
        font-weight: 500;
    }
    p {
        margin: 1rem 0;
        line-height: 1.5rem;
    }
} 

// .techStack {
//     background-color: pink;
//     ul {
//         margin-bottom: 0;
//     }
// }

// .techStackContainer{
//     padding: 1rem 0;
// }

// .techStackList{
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     gap: 3em;
//     width: 100%;
//     margin: calc()
// }
