.typed {
    font-size: 6rem;
    display: block;
    margin-top: 1rem;
}

body {
    color: rgb(60, 53, 53)
}
h1 {
    line-height: 3rem;
}
.aboutMeText {
    width: 75%;
    font-size: 1.3rem;
    margin: 0 auto 1rem;
    line-height: 1.8rem;
}
.learnMore{
    color: white;
    text-decoration: underline;
}