@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500&family=Poppins:wght@200&family=Raleway:wght@300&display=swap');
.typed {
    font-size: 6rem;
    display: block;
    margin-top: 1rem;
}

body {
    color: rgb(60, 53, 53)
}
h1 {
    line-height: 3rem;
}
.aboutMeText {
    width: 75%;
    font-size: 1.3rem;
    margin: 0 auto 1rem;
    line-height: 1.8rem;
}
.learnMore{
    color: white;
    text-decoration: underline;
}

h1, h2, h3, h4, h5 {
    font-family: 'Cormorant Garamond', serif;
}

p {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

h2 {
    font-size: 3rem;;
}