header {
  background-color: none;
  height: 5rem;
  position: fixed;
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 400;
}

.sticky {
  background-color: white;
}

.sticky a, .sticky h2 {
  color: pink;
}

.heroSection {
  background: #fceaaf;
  height: 100vh;
}

nav {
  margin: 0;
}

.navHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navHeader ul {
  padding-left: 0;
}

.navHeader li {
  padding: 1rem;
}

.navLink {
  position: relative;
  width: 100%;
  font-size: 1.4rem;
  color: #4b4646;
}

.navLink::after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: pink;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.navLink:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.scrollActive {
  border-bottom: 2px solid pink;
  display: inline-block;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navLink {
  position: relative;
  width: 100%;
}

.headerWrapper {
  height: 100%;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
}

.headerContainer {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerContainer .judyLee {
  background-color: pink;
  padding: .4rem 1.2rem;
  border-radius: .3rem;
}

.typed {
  margin-bottom: 3rem;
  max-width: 100%;
}

.text {
  font-size: 1.5rem;
  text-align: left;
}

.viewWorksBtn {
  font-size: 1.3rem;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: .2rem;
  background-color: pink;
  margin-top: 2rem;
  cursor: pointer;
}

.logo {
  color: #4b4646;
  font-weight: 400;
  margin-top: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: 500;
}

li {
  list-style: none;
}

button, a {
  cursor: pointer;
}

button {
  text-decoration: none;
  background: none;
  border: none;
}

.containerWrapper {
  width: 90%;
  margin: 0 auto;
}

h2 {
  margin-top: 0;
}

p {
  margin: 0;
}

.devIcon {
  color: #5a5a5a;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.xs {
  font-size: 4.5rem;
}

.portfolioIcon {
  color: pink;
  font-size: 2.5rem;
  margin-left: 1rem;
}

.block {
  display: block;
}

img {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.fas {
  color: #a9d4a8;
  font-size: 2rem;
}

.aboutMeSection {
  padding: 5rem 0;
  background-color: pink;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aboutMeWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  justify-content: center;
}

h3 {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.4rem;
}

p {
  text-align: center;
}

.techSection {
  background-color: #fceaaf;
}

.techStackContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../../../assets/bgdetail.png);
  background-repeat: no-repeat;
  background-position: center;
  gap: 1.3em;
}

.techStackContainer h2 {
  color: #313131;
  text-align: right;
}

.techStackContainer .stack {
  display: block;
}

.techStackContainer .techStackList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.4rem;
}

.portfolioSection {
  background-color: #fceaaf;
  padding: 2rem 0;
  height: 100%;
}

.portfolioSection .projectContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem 0;
  gap: 3rem;
}

.portfolioContainer {
  padding: 1rem 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolioContainer h2 {
  margin-bottom: 0;
}

.project {
  position: relative;
  width: 100%;
}

.project h4 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.project .projectImage {
  display: block;
  width: 100%;
  border-radius: .4rem;
}

.project .imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.project .imageOverlay:hover > * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project .imageOverlay > * {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.project .imageOverlay:hover {
  opacity: 1;
}

.modalBG {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s opacity 0.5s;
  transition: visibility 0s opacity 0.5s;
  border: 1px solid red;
}

.modalActive {
  visibility: visible;
  opacity: 1;
  z-index: 402;
}

.modalButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: cenfleter;
      -ms-flex-pack: cenfleter;
          justify-content: cenfleter;
  text-align: center;
}

.modalButtons h4 {
  font-size: 2rem;
  padding: 0;
  margin: 1rem 0;
  font-weight: 500;
}

.modal {
  background-color: white;
  height: 90%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  position: relative;
}

.modal .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5em;
  color: grey;
}

.modal .close:hover {
  color: black;
}

.modalContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  text-align: left;
  height: 92%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.modalContent .modalImg {
  height: 90%;
  width: 100%;
}

.modalContent img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.viewButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.viewButton button {
  padding: .5rem .7rem;
  width: 40%;
  background-color: pink;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.descriptionWrapper {
  width: 95%;
  margin: 0 auto;
}

.modalDescription {
  max-height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px dotted pink;
  height: 90%;
  margin: 0 auto;
}

.modalDescription h5 {
  margin: 0;
  padding-top: 1rem;
  font-size: 1.5em;
  font-weight: 500;
}

.modalDescription p {
  margin: 1rem 0;
  line-height: 1.5rem;
  text-align: left;
}

.techUsed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ctaSection {
  height: 100vh;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.typed {
  font-size: 6rem;
  display: block;
  margin-top: 1rem;
}

body {
  color: #3c3535;
}

h1 {
  line-height: 3rem;
}

.aboutMeText {
  width: 75%;
  font-size: 1.3rem;
  margin: 0 auto 1rem;
  line-height: 1.8rem;
}

.learnMore {
  color: white;
  text-decoration: underline;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

input[type="checkbox"]:checked ~ .slideOutNav {
  left: 0;
}

input[type="checkbox"]:hover + label
input[type="checkbox"]:focus + label {
  border: 1px dotted red;
}

.slideOutNav {
  padding: 35px 50px;
  border-right: 1px solid;
  width: 100%;
  max-width: 506px;
  height: 100vh;
  background-color: white;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  left: -506px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.slideOutNav .buttonContainer {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1.5rem;
  font-weight: 600;
}

.slideOutNav li {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.buttonContainer {
  padding: 1rem;
}

.openMenu {
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.closeMenu {
  left: -506px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 0 0 1rem;
  display: none;
}

@media (max-width: 1187px) {
  .modal {
    width: 70%;
  }
  .modalContent .modalImg {
    width: 90%;
  }
}

@media (max-width: 1150px) {
  .headerContainer {
    width: 50%;
  }
  .headerContainer .judyLee {
    padding: .2rem 1rem;
  }
  .typed {
    font-size: 5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 945px) {
  .modal {
    width: 80%;
  }
  .modalContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .modalContent .modalImg {
    width: 90%;
  }
  .modalContent .modalDescription {
    margin-right: 1rem;
  }
  .modalContent .modalDescription p {
    font-size: .8rem;
    line-height: 1.2rem;
  }
}

@media (max-width: 820px) {
  .modal {
    width: 80%;
    height: 80%;
  }
  .modalContent .modalImg {
    width: 90%;
  }
  .modalContent .viewButton button {
    padding: .5rem .7rem;
    margin-bottom: 1rem;
    width: 40%;
    font-size: .8rem;
  }
}

@media (max-width: 770px) {
  .typed {
    font-size: 4rem;
  }
  .navLink,
  .logo {
    font-size: 1rem;
  }
  .headerWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .headerContainer {
    width: 80%;
  }
  .aboutMeWrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modalContent .modalDescription {
    height: 90%;
  }
}

@media (max-width: 700px) {
  .typed {
    font-size: 4rem;
  }
  .navLink, .logo {
    font-size: 1rem;
  }
  .modalContent .modalImg {
    display: none;
  }
  .modalContent .modalDescription {
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .headerWrapper {
    gap: .9rem;
  }
  .portfolioSection .projectContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project {
    position: relative;
    width: 50%;
    height: 50%;
  }
  .project h4 {
    margin-top: 1rem;
  }
}

@media (max-width: 570px) {
  .sticky {
    background-color: inherit;
  }
  .navHeader {
    display: none;
  }
  .hamburger {
    display: block;
  }
}

.reveal {
  position: relative;
  -webkit-transform: translateY(150px);
          transform: translateY(150px);
  opacity: 0;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.reveal.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

footer {
  background-color: #eeeac3;
  height: 100%;
  padding: 4rem 0;
}

footer h5 {
  font-size: 2rem;
}

.footerWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
}

.formDescription {
  text-align: right;
}

.formDescription p {
  text-align: right;
}

.contactformContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactformContainer button {
  margin-top: 1rem;
  background-color: pink;
  border-radius: .4rem;
}

.contactform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input,
textarea {
  border: 2px solid pink;
  margin-bottom: .6rem;
  width: 100%;
}
